/* Dracula Theme Adjusted */
.highlight pre {
  background-color: #282a36;
  color: #f8f8f2;
}

.highlight .hll {
  background-color: #44475a;
}

.highlight .c {
  color: #6272a4;
  font-style: italic;
}

/* Comment */
.highlight .err {
  color: #ff5555;
  background-color: #282a36;
}

/* Error */
.highlight .g {
  color: #f8f8f2;
}

/* Generic */
.highlight .k {
  color: #ff79c6;
  font-weight: bold;
}

/* Keyword */
.highlight .l {
  color: #f8f8f2;
}

/* Literal */
.highlight .n {
  color: #f8f8f2;
}

/* Name */
.highlight .o {
  color: #ff79c6;
}

/* Operator */
.highlight .x {
  color: #f8f8f2;
}

/* Other */
.highlight .p {
  color: #f8f8f2;
}

/* Punctuation */
.highlight .cm {
  color: #6272a4;
  font-style: italic;
}

/* Comment.Multiline */
.highlight .cp {
  color: #bd93f9;
}

/* Comment.Preproc */
.highlight .c1 {
  color: #6272a4;
  font-style: italic;
}

/* Comment.Single */
.highlight .cs {
  color: #ff5555;
  font-style: italic;
}

/* Comment.Special */
.highlight .gd {
  color: #ff5555;
}

/* Generic.Deleted */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
.highlight .gr {
  color: #ff5555;
}

/* Generic.Error */
.highlight .gh {
  color: #f8f8f2;
  font-weight: bold;
}

/* Generic.Heading */
.highlight .gi {
  color: #50fa7b;
}

/* Generic.Inserted */
.highlight .go {
  color: #44475a;
}

/* Generic.Output */
.highlight .gp {
  color: #ff79c6;
}

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
.highlight .gu {
  color: #bd93f9;
}

/* Generic.Subheading */
.highlight .gt {
  color: #ff5555;
}

/* Generic.Traceback */
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt {
  color: #ff79c6;
  font-weight: bold;
}

/* Keywords */
.highlight .ld {
  color: #f8f8f2;
}

/* Literal.Date */
.highlight .m {
  color: #ffb86c;
}

/* Literal.Number */
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss {
  color: #50fa7b;
}

/* Literal.String */
.highlight .na {
  color: #f1fa8c;
}

/* Name.Attribute */
.highlight .nb {
  color: #8be9fd;
}

/* Name.Builtin */
.highlight .nc {
  color: #bd93f9;
}

/* Name.Class */
.highlight .no {
  color: #ff79c6;
}

/* Name.Constant */
.highlight .nd {
  color: #bd93f9;
}

/* Name.Decorator */
.highlight .ni {
  color: #f8f8f2;
}

/* Name.Entity */
.highlight .ne {
  color: #ff79c6;
}

/* Name.Exception */
.highlight .nf {
  color: #8be9fd;
}

/* Name.Function */
.highlight .nl {
  color: #f8f8f2;
}

/* Name.Label */
.highlight .nn {
  color: #f8f8f2;
}

/* Name.Namespace */
.highlight .nx {
  color: #f8f8f2;
}

/* Name.Other */
.highlight .py {
  color: #f8f8f2;
}

/* Name.Property */
.highlight .nt {
  color: #ff79c6;
}

/* Name.Tag */
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: #f1fa8c;
}

/* Name.Variable */
.highlight .ow {
  color: #ff79c6;
}

/* Operator.Word */
.highlight .w {
  color: #f8f8f2;
}

/* Text.Whitespace */
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
  color: #ffb86c;
}

/* Numbers */
.highlight .bp {
  color: #8be9fd;
}

/* Builtin.Pseudo */